* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans'
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;

}

.titulo {
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* ------------------  Header -------------- */

header {
    width: 100%;
    height: 700px;
    background: #800080;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(350, 100%, 88%, 0.61), hsla(300, 100%, 25%, 0.61)), url(https://loremflickr.com/1920/1080/woman) no-repeat center;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(350, 100%, 88%, 0.61), hsla(300, 100%, 25%, 0.61)), url(https://loremflickr.com/1920/1080/woman);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.navbar {
    text-align: right;
    padding: 30px 50px 0 0;
}

.navbar > a {
    color: white;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
    font-size: 20px;
    /* Letra mas gruesa */
    font-weight: 700;
}

.navbar > a:hover {
    border-bottom: 3px solid #fff;
    padding-bottom: 5px;
}

.textos-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1 {
    color: white;
    font-size: 50px;
    margin-bottom: 10px;
}

.textos-header h2 {
    color: white;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* ---------------- Sobre nosotros ------------- */

.contenedor-sobre-nosotros {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.sobre-nosotros {
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us {
    width: 50%;
    height: auto;
}

.contenido-textos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contenido-textos h3 {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 10px;
}

.textos p{
    font-size: 15px;
    font-weight: 300;
    margin-left: 15px;
    text-align: justify;
}

.contenido-textos span {
    background-color: #642a73;
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
    margin-right: 10px;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

/* ----------------- Portafolio ---------------- */

.portafolio {
    background: #f2f2f2;
}

.galeria-port {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.imagen-port {
    width: 24%;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 5px 0 rgba(102, 51, 153, .5);
}

.imagen-port > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(0) rotate(-180deg);
    background: hsla(273, 91%, 27%, 0.5);
    transition: transform .2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hover-galeria img {
    width: 50px;
    height: 50px;
}

.hover-galeria p {
    color: white;
}

.imagen-port:hover .hover-galeria {
    transform: scale(1) rotate(0deg);
}

/* ----------- Que dicen nuestros clientes ------------ */

.cards {
    display: flex;
    justify-content: space-around;

}

.card {
    background: purple;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.6);
}

.card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
}

.contenido-texto-card {
    width: 60%;
    color: #fff;
}

.contenido-texto-card p {
    font-weight: 300px;
    padding-top: 10px;
}

.about-services {
    background: #f2f2f2;
    padding-bottom: 30px;
}