body {
    background-color: #171717;
    margin: 0 0;
}

.cabecera {
    margin: 20px 10px;
}

header {
    display: flex;
}

.primeraParte {
    display: inline-flex;
}

.navbar1 li {
    display: inline;
    margin: 0 15px;
    color: white;
}

.acciones {
    display: inline-flex;
}